/* ONLINE FONT LINK */
.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 600; */
  font-style: normal;
}
/* NAVBAR hover */
.nav-active{
  color: #ff4d4d;
}
.nav-hover:hover{
  color: #ff4d4d;
}
.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  background: red;
  display: block;
  margin: 10px auto 0;
}

.testimonial-btn {
  width: 60px;
  height: 60px;
  background: #ff4d4d;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: 0.9s;
}

.testimonial-btn:hover {
  background: red;
}

.prev-btn {
  left: 25%;
}

.next-btn {
  right: 25%;
}

/* Testimonial Content */
.testimonial-content {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.testimonial-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-name {
  font-weight: 600;
  font-size: 25px;
}

.testimonial-role {
  color: #888;
  margin-bottom: 20px;
}

.testimonial-text {
  color: #555;
  line-height: 1.8;
  font-size: 16px;
}

/* Responsive */
@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
  }
  .testimonial-img {
    width: 120px;
    height: 120px;
  }
  .testimonial-btn {
    align-content: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
}
.footer{
  background: rgb(8, 59, 69);
  color: white;
}
